# Auto detect text files and perform LF normalization
* text=eol=lf

# Keep these as LF regardless of platform
*.ts text eol=lf
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf
*.css text eol=lf
*.html text eol=lf
*.ps1 text eol=lf
*.sh text eol=lf

# Binary files
*.vsix binary
*.svg binary
*.png binary
*.jpg binary
*.ico binary
